<table bgcolor="#48d1cc" border="2" bordercolor="blue" cellpadding="20" cellspacing="2" align="center">
  <tr>
    <td><p>Mesa #</p></td>
    <td><p>Asientos</p></td>
  </tr>
  <tr bgcolor="#9acd32">
    <td><p><%= @single_table.name  %></p></td>
    <td><p><%=@single_table.seats%></p></td>
  </tr>

</table>
