<!DOCTYPE html>
<html>
<head>
  <title>Gusteau</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>BIENVENIDO A GUSTEAU</h1>

<%= yield %>

<h2>© Gusteau Inc.</h2>

</body>
</html>
